/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

/* general class */

ul{
    list-style-type: none;
}


/* Reusable class */

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lg first 1440px */

.column-left{
    width: 20vh;
    height: 100vh;
    background-color: black;
    border: 2px solid blue;
}

.column-right{
    width: calc( 100% - 20vh);
    height: 100vh;
    background-color: orange;
    border: 2px solid cyan;
}


.top-row{
    height: 15vh;
    border: 3px solid red;
    background-color: green;
}

.navigation-button{
    width: 100%;
}

li{
    border: 3px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

/* 878px md */
/* 639px s */
/* 552px xs */

/* height 350px */


