/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general class */

ul{
    list-style-type: none;
}


/* Reusable class */

.flex{
    display: flex;
}

.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lg first 1440px */

.column-left{
    width: 30vh;
    height: calc(100vh - 15vh);
    background-color: black;
    border: 2px solid blue;
}

.column-right{
    overflow: scroll;
    width: calc(100% - 20vh);
    height: calc(100vh - 15vh);
    background-color: orange;
    border: 2px solid cyan;
}


.top-row{
    height: 15vh;
    border: 3px solid red;
    background-color: #080b12;

}

.top-button{
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 20px;
    border-style: none;
    border: 1px solid white;
    background-color: #080b12;
}


.navigation-button{
    width: 100%;
}

.navigation-button li{
    border: 3px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.recent-played{
    border: 3px solid red;
}

.album{
    width: calc(100% / 6);
    height: 30vh;
    border: 3px solid black;
}

.for-you{
    border: 3px solid red;
}

.popular{
    border: 3px solid red;
}

footer{
    height: 15vh;
    background-color: grey;
    border: 2px solid blue;
}



/* 878px md */
/* 639px s */
/* 552px xs */

/* height 350px */


