/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general class */

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    opacity: .5;
    font-size: .9rem;
}

h1,
h4{
    color: white;
    margin: 10px 0 10px 20px;
}

h4{
    font-size: 0.8rem;
    opacity: 0.5;
}

/* ******************** */


/* Reusable class */

.flex{
    display: flex;
}

.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.between{
    display: flex;
    justify-content: space-between;
}

/* ******************** */


/* lg first full screen*/

/* column-left-small */

.column-left-small{
    height: calc(100vh - 15vh);
    width: 10vh;
    background-color: black;
    display: none;
}

.logo-small{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-small img{
    width: 50%;
}

/* ******************** */


/* column-left */
.column-left{
    width: 30vh;
    height: calc(100vh - 15vh);
    background-color: black;
    border: 2px solid blue;
}

.logo{
    height: 10vh;
    display: flex;
    align-items: center;
}

.logo img{
    width: 60%;
    margin-left: 20px;
}

/* ******************** */

/* Container */

.container{
    height: calc(100vh - 25vh);
}

/* ******************** */


/* Categories */

.category{
    padding-left: 20px;
    margin-bottom: .7rem;
}

.category a{
    font-size: 1.1rem;
}

/* ******************** */

/* Playlist */

.h1-playlist{
    margin: 20px 0
}

.playlist{
    padding-left: 20px;
}

.add-playlist{
    margin: 10px 0;
}

.playlist ul li{
    margin: 10px 0;
}

/* ******************** */

/* End-column-left */

.end-column-left{
    color: white;
    margin: 0 0 10px 20px;
}

hr{
    margin: 5px 20px 5px 0;
}


/* ******************** */


/* Column-right */

.column-right{
    color: white;
    overflow: scroll;
    width: calc(100% - 20vh);
    height: calc(100vh - 15vh);
    background-color: #141922;
}

/* ******************** */

/* Top-row */

.top-row{
    height: 10vh;
    background-color: #080b12;
}

.top-button{
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 20px;
    border-style: none;
    border: 1px solid white;
    background-color: #080b12;
}

/* ******************** */

/* Navigation-button */

.navigation-button li{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

/* ******************** */

/* Recent-played */

.recent-played{
    text-align: center;
    margin-left: 20px;
}

.album{
    width: calc(100% / 6 - 1rem);
    margin: 1rem 1rem 1rem 0;
}

.album img{
    width: 100%;
}

.album h4{
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    opacity: 0.5;
}

/* ******************** */

/* For-you */

.for-you{
    text-align: center;
    margin-left: 20px;
}

/* ******************** */

/* Popular */

.popular{
    margin-left: 20px;
    text-align: center;
}

/* ******************** */

/* Footer */
footer{
    height: 15vh;
    background-color: #282828;
}

/* ******************** */



/* md */

@media screen and (max-width: 992px) {
    .album{
        width: calc(100% / 4 - 1rem);
    }
    
    .recent-played{
        display: flex;
        flex-wrap: wrap;
    }

    .nav{
        flex-wrap: wrap;
    }
}

/* s */
@media screen and (max-width: 576px) {
    .album{
        width: calc(100% / 2 - 1rem);
    }

    .album img{
        width: 80%;
    }
    
}

/* xs */

@media screen and (max-width: 552px){
    .column-left-small{
        display: inline-block;
    }

    .column-left{
        display: none;
    }

    .column-right{
        width: calc(100% - 10vh);
    }
}

/* height 350px */


